<div id="<%= dom_id avaliacao %>">
  <p>
    <strong>Disciplina:</strong>
    <%= avaliacao.disciplina_id %>
  </p>

  <p>
    <strong>Sala:</strong>
    <%= avaliacao.sala_id %>
  </p>

  <p>
    <strong>Aluno:</strong>
    <%= avaliacao.aluno_id %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= avaliacao.data %>
  </p>

  <p>
    <strong>Nota:</strong>
    <%= avaliacao.nota %>
  </p>

  <p>
    <strong>Float:</strong>
    <%= avaliacao.float %>
  </p>

</div>
